@import "vars";
@import "header";
@import "footer";
@import "subscribe";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    color: #6F6E6E;

    &:hover {
        color: $colorSiteSelect;
    }
}

body {
    font-family: 'Lato', sans-serif
}

img {
    width: 100%;
}

.center {
    padding-left: calc(50% - #{$widthSite / 2});
    padding-right: calc(50% - #{$widthSite / 2});
}

.top {
    position: relative;
}

.promo {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    margin-bottom: 48px;

    &__content {
        display: flex;
        padding-left: 64px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 12px solid $colorSiteSelect;
        padding-left: 16px;
        margin-bottom: 28%;
        margin-top: 28%;
    }

    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: $backColor;
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: $backColor;
    }

    &__heading span {
        color: $colorSiteSelect;
    }




}

.sale {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
    margin-top: 48px;

    &__item {
        position: relative;
        transition: 0.3s;

        &:hover {
            scale: 1.1;
        }
    }

    &__item_big {
        grid-column: 1 / -1;
        min-height: 180px;
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $colorSiteSelect;
    }


}

.product-box {
    margin-bottom: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        /* identical to box height */
        color: $backColor;
        margin-bottom: 6px;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #9F9F9F;
        margin-bottom: 48px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        .img__product {

            width: max-content;

            &:hover {
                filter: brightness(0.5);
            }

        }

        .product__item {
            display: flex;
            flex-direction: column;
            gap: 24px;
            background-color: #F8F8F8;

            &__content {
                display: flex;
                flex-direction: column;
                padding: 18px;
                gap: 16px;
            }

            &__heading {
                color: #000;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &__heading:hover {
                color: $colorSiteSelect;
            }

            &__text {
                color: #5D5D5D;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

            &__price {
                color: $colorSiteSelect;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .button__product {
        margin-top: 48px;
        padding: 1rem 2rem;
        border: 1px solid $colorSiteSelect;
        background-color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSiteSelect;
        transition: all 0.3s;
    }

    .button__product:hover {
        background-color: $colorSiteSelect;
        color: #FFFFFF;
    }
}

.filter {
    padding-top: 39px;
    position: relative;
    height: 132px;

    &__right {
        left: 590px;
        top: 51px;
        position: absolute;
    }

    &__details {
        padding: 13px 16px 16px;
        width: 360px;
        position: absolute;
        top: 39px;
        box-sizing: border-box;

        &[open] {
            background-color: #FFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        }

        &[open] .filter__title {
            color: $colorSiteSelect;
        }

        &[open] path {
            fill: $colorSiteSelect;
        }
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__title {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        margin-top: 16px;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSiteSelect;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__item[open] .filter__heading {
        color: $colorSiteSelect;
    }

}

.advantages {
    display: flex;
    background: $backColor;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    height: 342px;

    &__item {
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        text-align: center;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        color: #FBFBFB;
        text-align: center;
    }
}

.top__header {
    background-color: #F8F3F4;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        color: $colorSiteSelect;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
}

.breadcrumb {
    display: flex;

    &__box-link:last-child .breadcrumb__link {
        font-weight: 700;
        color: $colorSiteSelect;
    }

    &__box-link:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    &__link {
        color: #636363;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;

        &:hover {
            color: $colorSiteSelect;
        }
    }
}

.sort {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-bottom: 62px;


    &__details {
        display: flex;
        position: relative
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #6F6E6E;
        font-size: 14px;
        transition: all 0.3s;
    }

    &__summary:hover {
        color: $colorSiteSelect;
    }

    &__summary:hover path {
        fill: $colorSiteSelect;
    }

    &__content {
        background-color: #fff;
        position: absolute;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 89px;
        padding: 7px 9px 11px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
        top: 22px;
        left: -9px;
    }
}


// Страница товара

.slider {
    position: relative;
    display: flex;
    background-color: #F7F7F7;
    justify-content: center;
    align-items: center;

    &__img {
        width: max-content;
        box-sizing: border-box;
    }

    &__arrow {
        background: rgba(42, 42, 42, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 365px;

        &:hover path {
            fill: $colorSiteSelect;
        }

        &_left {
            left: 0;
        }

        &_right {
            right: 0;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #EAEAEA;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1140px;
    background-color: #FFFFFF;
    margin: -65px auto 0;
    position: relative;
    margin-bottom: 100px;

    &__title {
        color: $colorSiteSelect;
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 12px;

    }

    &__line {
        width: 64px;
        border-bottom: 3px solid $colorSiteSelect;
    }

    &__heading {
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 300;
        padding-top: 12px;
        margin-bottom: 48px;
    }

    &__text {
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        width: 35vw;
        box-sizing: border-box;
        margin-bottom: 33px;
    }

    &__price {
        color: $colorSiteSelect;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 65px;

    }

    &__line-big {
        border-bottom: 1px solid #EAEAEA;
        width: 640px;
        margin-bottom: 65px;
    }

    &__button {
        width: 212px;
        height: 48px;
        display: flex;
        font-size: 16px;
        border: 1px solid $colorSiteSelect;
        color: $colorSiteSelect;
        background-color: #FFFFFF;
        justify-content: center;
        align-items: center;
        gap: 22px;
        transition: all 0.3s;

        &:hover {
            color: #fff;
            background-color: $colorSiteSelect;
        }

        &:hover path {
            fill: #fff;
        }
    }


}

// Корзина

.shopping {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop__cart {
    margin: 96px 0 128px;

    &-buttons {
        display: flex;
        justify-content: space-between;

        &-btn,
        .shop__cart-buttons-link {
            padding: 17px 40px 17px 40px;
            border: 1px solid #A4A4A4;
            background: none;
            font-style: normal;
            font-size: 14px;
            font-weight: 300;
            color: #000000;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                color: #fff;
                background: $colorSiteSelect;
                border: 1px solid $colorSiteSelect;
                transition: all 0.2s;
                scale: 1.1;
            }
        }
    }
}

.cart__card {
    display: flex;
    margin: 0 0 40px 0;
    box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
    background: #FFF;

    .card__img {
        width: 262px;
        height: 306px;
    }

    &__icon {
        font-size: 30px;
        position: absolute;
        right: 22px;
        transition: fill 0.2s;
        transition: rotate 1s;

        &:hover path {
            fill: $colorSiteSelect;
        }

        &:hover {
            scale: 1.1;
            rotate: 180deg;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        color: $backColor;
        padding: 22px 97px 62px 31px;
        position: relative;
        box-sizing: border-box;
        width: 390px;
        height: 306px;

        & span {
            margin: 0 0 6px 0;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }

        .text__decor {
            color: $colorSiteSelect;
        }

        .quantity {
            display: flex;

            &__input {
                border: 1px solid #EAEAEA;
                width: 44px;
                height: 25px;
                margin-left: 24px;
                text-align: center;
            }
        }
    }

    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 42px;
    }

}

.shop__forms {
    margin-top: 113px;
    width: 360px;
    height: 214px;

    .shipping__form {
        display: flex;
        flex-direction: column;
        gap: 22px;
        margin-bottom: 57px;

        &__heading {
            color: $backColor;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        & input {
            width: 360px;
            height: 45px;
            background-color: #FFF;
            border: 1px solid #A4A4A4;
            padding-left: 16px;
            padding-right: 16px;
            transition: all 0.2s;

            &:focus::placeholder {
                visibility: hidden;
            }

            &:hover {
                border: 2px solid $colorSiteSelect;
            }
        }

        & button {
            width: 100px;
            height: 35px;
            background: none;
            border: 1px solid #A4A4A4;
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                color: #fff;
                background: $colorSiteSelect;
                border: 1px solid $colorSiteSelect;
                transition: all 0.2s;
                scale: 1.1;
            }
        }
    }

    .check__form {
        background: #F5F3F3;
        padding: 39px 43px 42px 43px;
        text-align: right;

        & h6 {
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 12px;

            & span {
                margin-left: 25px;
            }
        }

        & h4 {
            color: $backColor;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            & span {
                margin-left: 25px;
                color: $colorSiteSelect;
                font-weight: bold;
            }
        }

        & hr {
            color: #E2E2E2;
            margin: 21px 0 21px 0;
        }

        & button {
            width: 273px;
            height: 50px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            background-color: $colorSiteSelect;
            border: none;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                scale: 1.1;
            }
        }
    }
}

//  Регистрация

.registration {
    display: flex;
    padding-top: 64px;
    padding-bottom: 96px;


    &__left {
        margin-right: 64px;

        .registration__form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &-heading {
                color: #222;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

            &__name {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &-input {
                    width: 360px;
                    height: 45px;
                    background-color: #FFF;
                    border: 1px solid #A4A4A4;
                    padding-left: 16px;
                    padding-right: 16px;
                    transition: all 0.1s;

                    &:focus::placeholder {
                        visibility: hidden;
                    }

                    &:hover::placeholder {
                        color: $colorSiteSelect;
                    }

                    &:hover {
                        border: 2px solid $colorSiteSelect;
                    }
                }
            }

            &__radio {
                display: flex;
                flex-direction: row;
                padding-top: 32px;
                padding-bottom: 32px;
                color: #000;
                font-size: 11px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;

                &-input {
                    appearance: none;
                    border-radius: 50%;
                    width: 17px;
                    height: 17px;
                    border: 2px solid #A4A4A4;
                    transition: all 0.2s;


                    &:checked {
                        border: 5px solid $colorSiteSelect;
                    }

                }

                &-label {
                    margin: 0 20px 0 10px;
                    color: #000;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;

                    &:hover {
                        color: $colorSiteSelect;
                    }
                }
            }

            &__details {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &-input {
                    width: 360px;
                    height: 45px;
                    background-color: #FFF;
                    border: 1px solid #A4A4A4;
                    padding-left: 16px;
                    padding-right: 16px;
                    transition: all 0.1s;

                    &:focus::placeholder {
                        visibility: hidden;
                    }

                    &:hover::placeholder {
                        color: $colorSiteSelect;
                    }

                    &:hover {
                        border: 2px solid $colorSiteSelect;
                    }
                }

                &-text {
                    color: #B1B1B1;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }

            &__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                width: 167px;
                height: 50px;
                background-color: $colorSiteSelect;
                border: 1px solid $colorSiteSelect;
                color: #FFF;
                font-size: 11px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    scale: 1.1;
                }
            }
        }
    }

    &__right {
        margin-left: 64px;

        &__title {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
            margin-bottom: 22px;
        }

        &__heading {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
            margin-bottom: 22px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 16px;

            &-item {
                display: flex;
                color: #000;
                font-size: 24px;
                font-weight: 300;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: left;
                list-style-type: none;
            }

            &-marker path {
                fill: #000;

            }

            &-marker {
                margin-right: 23px;
            }
        }
    }
}