.footer {
    background-color: $backColor;
    min-height: 79px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__right {
        display: flex;
        gap: 7px;
    }


    &__icons {
        width: 2rem;
        height: 2rem;
        background-color: #FBFBFB;
        padding: 0.5rem;


        &:hover path {
            fill: #FBFBFB;
        }

        &:hover {
            background-color: $colorSiteSelect;
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        &__left {
            padding-left: 32px;
        }

        &__right {
            padding-right: 32px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        padding-top: 42px;
        padding-bottom: 10px;
        flex-direction: column-reverse;
        min-height: 143px;
        justify-content: center;
        gap: 40px;

        &__left {

            padding-left: 0;
        }

        &__right {
            padding-right: 0;
        }
    }
}