.header {
  background-color: #222224;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__left {
  padding: 18px 0 18px 0;
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__img {
  width: -moz-max-content;
  width: max-content;
  transition: all 0.3s;
}
.header__img:hover {
  scale: 1.1;
}
.header .search {
  display: flex;
}
.header .search__button {
  background: none;
  border: none;
  cursor: pointer;
}
.header .search__icon {
  border: none;
  background: none;
}
.header .search__input {
  display: none;
  margin: 0 0 0 10px;
  padding: 5px;
  border-radius: 5px;
}
.header .search__input:focus {
  outline: none;
  display: flex;
}
.header .search__input::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}
.header .search__input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}
.header .search:hover .search__input {
  display: flex;
}
.header .search__icon:hover path {
  fill: #F16D7F;
}
.header__right {
  padding: 18px 0 18px 0;
  display: flex;
  gap: 33px;
  align-items: center;
}
.header__icon:hover path {
  fill: #F16D7F;
}
.header__menu {
  z-index: 3;
}
.header__menu__content {
  right: 0;
  background-color: #fff;
  width: 232px;
  height: 639px;
  margin-top: 26px;
  position: absolute;
  transition: display 1s;
  z-index: 1;
}
.header__menu__title {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
  padding-top: 37px;
  padding-left: 34px;
}
.header__menu__heading {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 24px;
  margin-bottom: 12px;
}
.header__menu__list {
  padding-bottom: 14px;
}
.header__menu__list__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  color: #6F6E6E;
  font-size: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 54px;
}

@media (max-width: 1024px) {
  .header__left {
    padding-left: 32px;
  }
  .header__right {
    gap: 25px;
    padding-right: 32px;
  }
  .header__menu__content {
    width: 190px;
  }
}
@media (max-width: 767px) {
  .header__left {
    padding-left: 16px;
  }
  .header__right {
    padding-right: 16px;
  }
  .header__link {
    display: none;
  }
}
@media (max-width: 360px) {
  .header__left .search__input {
    width: 100px;
  }
}
.footer {
  background-color: #222224;
  min-height: 79px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__right {
  display: flex;
  gap: 7px;
}
.footer__icons {
  width: 2rem;
  height: 2rem;
  background-color: #FBFBFB;
  padding: 0.5rem;
}
.footer__icons:hover path {
  fill: #FBFBFB;
}
.footer__icons:hover {
  background-color: #F16D7F;
}

@media (max-width: 1024px) {
  .footer__left {
    padding-left: 32px;
  }
  .footer__right {
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 42px;
    padding-bottom: 10px;
    flex-direction: column-reverse;
    min-height: 143px;
    justify-content: center;
    gap: 40px;
  }
  .footer__left {
    padding-left: 0;
  }
  .footer__right {
    padding-right: 0;
  }
}
.subscribe {
  display: flex;
  justify-content: space-between;
  background-image: url(img/subscribe.jpg);
  background-size: cover;
}
.subscribe__left {
  width: 25vw;
  padding-bottom: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__left__img {
  padding-top: 86px;
  margin-bottom: 24px;
  width: -moz-max-content;
  width: max-content;
}
.subscribe__left__text {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.subscribe__right {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__right__title {
  padding-top: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}
.subscribe__right__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}
.subscribe__right .form__box {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  background-color: #E1E1E1;
  align-items: center;
}
.subscribe__right .form__box__input {
  border: none;
  border-radius: 50px;
  background-color: #E1E1E1;
  text-align: center;
  color: #3e3e43;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  outline: 0;
  outline-offset: 0;
  padding: 15px;
}
.subscribe__right .form__box__btn {
  padding: 1rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: #F16D7F;
  background: #F16D7F;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}
.subscribe__right .form__box__btn:hover {
  scale: 1.1;
}

@media (max-width: 1024px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
  }
  .subscribe__left {
    margin-bottom: 48px;
    padding-bottom: 0;
    width: 360px;
  }
  .subscribe__right {
    width: 360px;
  }
  .subscribe__right__title {
    padding-top: 0;
  }
  .subscribe .form__box {
    margin-bottom: 140px;
  }
}
@media (max-width: 768px) {
  .subscribe__left {
    width: 290px;
  }
  .subscribe__left__text {
    font-size: 18px;
  }
  .subscribe__right {
    width: 290px;
  }
  .subscribe__right__title {
    line-height: 37px;
  }
  .subscribe__right__heading {
    font-size: 14px;
    line-height: 27px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #6F6E6E;
}
a:hover {
  color: #F16D7F;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  overflow: hidden;
}

.promo {
  display: flex;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  margin-bottom: 48px;
}
.promo__content {
  display: flex;
  padding-left: 64px;
}
.promo__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-bottom: 28%;
  margin-top: 28%;
}
.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222224;
}
.promo__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222224;
}
.promo__heading span {
  color: #F16D7F;
}

.sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
  margin-top: 48px;
}
.sale__item {
  position: relative;
  transition: 0.3s;
}
.sale__item:hover {
  scale: 1.1;
}
.sale__item_big {
  grid-column: 1/-1;
  min-height: 180px;
}
.sale__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.sale__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product-box {
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  color: #222224;
  margin-bottom: 6px;
}
.product-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #9F9F9F;
  margin-bottom: 48px;
  text-align: center;
}
.product-box__content {
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.product-box__content .img__product {
  width: -moz-max-content;
  width: max-content;
}
.product-box__content .img__product:hover {
  filter: brightness(0.4);
}
.product-box__content .product__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #F8F8F8;
}
.product-box__content .product__item__content {
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 16px;
}
.product-box__content .product__item__heading {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-box__content .product__item__heading:hover {
  color: #F16D7F;
}
.product-box__content .product__item__text {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product-box__content .product__item__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-box .button__product {
  margin-top: 48px;
  padding: 1rem 2rem;
  border: 1px solid #F16D7F;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  transition: all 0.3s;
}
.product-box .button__product:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.filter {
  display: flex;
  padding-top: 39px;
}
.filter__left {
  display: flex;
  width: 360px;
  position: relative;
}
.filter__right {
  width: 360px;
  display: flex;
  left: 30px;
  position: relative;
  justify-content: center;
}
.filter__details {
  padding: 16px;
  position: absolute;
  width: 360px;
}
.filter__details[open] {
  background-color: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__details[open] .filter__title {
  color: #F16D7F;
}
.filter__details[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__item {
  margin-top: 16px;
}
.filter__heading {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__item[open] .filter__heading {
  color: #F16D7F;
}

.advantages {
  display: flex;
  background: #222224;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  height: 342px;
}
.advantages__item {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.advantages__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
}
.advantages__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

.top__header {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__header__heading {
  color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.breadcrumb {
  display: flex;
  padding-right: 16px;
}
.breadcrumb__box-link:last-child .breadcrumb__link {
  font-weight: 700;
  color: #F16D7F;
}
.breadcrumb__box-link:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb__link {
  color: #636363;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.breadcrumb__link:hover {
  color: #F16D7F;
}

.sort {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin-bottom: 62px;
  padding-top: 16px;
}
.sort__details {
  display: flex;
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6F6E6E;
  font-size: 14px;
  transition: all 0.3s;
}
.sort__summary:hover {
  color: #F16D7F;
}
.sort__summary:hover path {
  fill: #F16D7F;
}
.sort__content {
  background-color: #fff;
  position: absolute;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 89px;
  padding: 7px 9px 11px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: -9px;
}

.slider {
  position: relative;
  display: flex;
  background-color: #F7F7F7;
  justify-content: center;
  align-items: center;
}
.slider__img {
  width: -moz-max-content;
  width: max-content;
  box-sizing: border-box;
}
.slider__arrow {
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 365px;
}
.slider__arrow:hover path {
  fill: #F16D7F;
}
.slider__arrow_left {
  left: 0;
}
.slider__arrow_right {
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1140px;
  background-color: #FFFFFF;
  margin: -65px auto 0;
  position: relative;
  margin-bottom: 100px;
}
.content__title {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 12px;
}
.content__line {
  width: 64px;
  border-bottom: 3px solid #F16D7F;
}
.content__heading {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
  padding-top: 12px;
  margin-bottom: 48px;
}
.content__text {
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  width: 35vw;
  box-sizing: border-box;
  margin-bottom: 33px;
}
.content__price {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 65px;
}
.content__line-big {
  border-bottom: 1px solid #EAEAEA;
  width: 640px;
  margin-bottom: 65px;
}
.content__button {
  width: 212px;
  height: 48px;
  display: flex;
  font-size: 16px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  gap: 22px;
  transition: all 0.3s;
}
.content__button:hover {
  color: #fff;
  background-color: #F16D7F;
}
.content__button:hover path {
  fill: #fff;
}

.shopping {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop__cart {
  margin: 96px 0 128px;
}
.shop__cart-buttons {
  display: flex;
  justify-content: space-between;
}
.shop__cart-buttons-btn,
.shop__cart-buttons .shop__cart-buttons-link {
  padding: 17px 40px 17px 40px;
  border: 1px solid #A4A4A4;
  background: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s;
}
.shop__cart-buttons-btn:hover,
.shop__cart-buttons .shop__cart-buttons-link:hover {
  color: #fff;
  background: #F16D7F;
  border: 1px solid #F16D7F;
  transition: all 0.2s;
  scale: 1.1;
}

.cart__card {
  display: flex;
  margin: 0 0 40px 0;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  background: #FFF;
}
.cart__card .card__img {
  width: 262px;
  height: 306px;
}
.cart__card__icon {
  font-size: 30px;
  position: absolute;
  right: 22px;
  transition: fill 0.2s;
  transition: rotate 1s;
}
.cart__card__icon:hover path {
  fill: #F16D7F;
}
.cart__card__icon:hover {
  scale: 1.1;
  rotate: 180deg;
}
.cart__card-text {
  display: flex;
  flex-direction: column;
  color: #222224;
  padding: 22px 97px 62px 31px;
  position: relative;
  box-sizing: border-box;
  width: 390px;
  height: 306px;
}
.cart__card-text span {
  margin: 0 0 6px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.cart__card-text .text__decor {
  color: #F16D7F;
}
.cart__card-text .quantity {
  display: flex;
}
.cart__card-text .quantity__input {
  border: 1px solid #EAEAEA;
  width: 44px;
  height: 25px;
  margin-left: 24px;
  text-align: center;
}
.cart__card__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 42px;
}

.shop__forms {
  display: flex;
  flex-direction: column;
  margin-top: 113px;
}
.shop__forms .shipping__form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 57px;
}
.shop__forms .shipping__form__heading {
  color: #222224;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.shop__forms .shipping__form input {
  width: 360px;
  height: 45px;
  background-color: #FFF;
  border: 1px solid #A4A4A4;
  padding-left: 16px;
  padding-right: 16px;
  transition: all 0.2s;
}
.shop__forms .shipping__form input:focus::-moz-placeholder {
  visibility: hidden;
}
.shop__forms .shipping__form input:focus::placeholder {
  visibility: hidden;
}
.shop__forms .shipping__form input:hover {
  border: 2px solid #F16D7F;
}
.shop__forms .shipping__form button {
  width: 100px;
  height: 35px;
  background: none;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s;
}
.shop__forms .shipping__form button:hover {
  color: #fff;
  background: #F16D7F;
  border: 1px solid #F16D7F;
  transition: all 0.2s;
  scale: 1.1;
}
.shop__forms .check__form {
  background: #F5F3F3;
  padding: 39px 43px 42px 43px;
  text-align: right;
  width: 360px;
  height: 214px;
}
.shop__forms .check__form h6 {
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.shop__forms .check__form h6 span {
  margin-left: 25px;
}
.shop__forms .check__form h4 {
  color: #222224;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.shop__forms .check__form h4 span {
  margin-left: 25px;
  color: #F16D7F;
  font-weight: bold;
}
.shop__forms .check__form hr {
  color: #E2E2E2;
  margin: 21px 0 21px 0;
}
.shop__forms .check__form button {
  width: 273px;
  height: 50px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #F16D7F;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.shop__forms .check__form button:hover {
  scale: 1.1;
}

.registration {
  display: flex;
  padding-top: 64px;
  padding-bottom: 96px;
}
.registration__left {
  margin-right: 64px;
}
.registration__left .registration__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration__left .registration__form-heading {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left .registration__form__name {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration__left .registration__form__name-input {
  height: 45px;
  background-color: #FFF;
  border: 1px solid #A4A4A4;
  padding-left: 16px;
  padding-right: 16px;
  transition: all 0.1s;
}
.registration__left .registration__form__name-input:focus::-moz-placeholder {
  visibility: hidden;
}
.registration__left .registration__form__name-input:focus::placeholder {
  visibility: hidden;
}
.registration__left .registration__form__name-input:hover::-moz-placeholder {
  color: #F16D7F;
}
.registration__left .registration__form__name-input:hover::placeholder {
  color: #F16D7F;
}
.registration__left .registration__form__name-input:hover {
  border: 2px solid #F16D7F;
}
.registration__left .registration__form__radio {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left .registration__form__radio-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  border: 2px solid #A4A4A4;
  transition: all 0.2s;
}
.registration__left .registration__form__radio-input:checked {
  border: 5px solid #F16D7F;
}
.registration__left .registration__form__radio-label {
  margin: 0 20px 0 10px;
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left .registration__form__radio-label:hover {
  color: #F16D7F;
}
.registration__left .registration__form__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration__left .registration__form__details-input {
  height: 45px;
  background-color: #FFF;
  border: 1px solid #A4A4A4;
  padding-left: 16px;
  padding-right: 16px;
  transition: all 0.1s;
}
.registration__left .registration__form__details-input:focus::-moz-placeholder {
  visibility: hidden;
}
.registration__left .registration__form__details-input:focus::placeholder {
  visibility: hidden;
}
.registration__left .registration__form__details-input:hover::-moz-placeholder {
  color: #F16D7F;
}
.registration__left .registration__form__details-input:hover::placeholder {
  color: #F16D7F;
}
.registration__left .registration__form__details-input:hover {
  border: 2px solid #F16D7F;
}
.registration__left .registration__form__details-text {
  color: #B1B1B1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left .registration__form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s;
}
.registration__left .registration__form__btn:hover {
  scale: 1.1;
}
.registration__right {
  margin-left: 64px;
}
.registration__right__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 22px;
}
.registration__right__heading {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 22px;
}
.registration__right__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registration__right__list-item {
  display: flex;
  color: #000;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
}
.registration__right__list-marker path {
  fill: #000;
}
.registration__right__list-marker {
  margin-right: 23px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .promo__content {
    padding-left: 0;
  }
  .promo__img {
    width: 50%;
  }
  .promo__info {
    margin-bottom: 18%;
    margin-top: 18%;
  }
  .promo__title {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__heading {
    font-size: 25px;
    line-height: 28px;
  }
  .sale {
    padding-top: 0;
    gap: 8px;
  }
  .sale__item {
    padding: 10px;
  }
  .sale__item:hover {
    scale: 1;
  }
  .sale__item_big {
    min-height: 0;
  }
  .product-box {
    gap: 16px;
    margin-bottom: 64px;
  }
  .product-box__content {
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
  }
  .product-box .button__product {
    margin-top: 32px;
  }
  .advantages {
    flex-direction: column;
    height: 610px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__item {
    width: 360px;
  }
  .top__header__heading {
    padding-left: 16px;
  }
  .filter {
    gap: 25px;
  }
  .filter__left {
    padding-left: 16px;
  }
  .shopping {
    flex-direction: column;
    align-items: center;
    margin-bottom: 128px;
  }
  .shopping .shop__cart {
    margin-bottom: 0;
  }
  .shopping .shop__cart-buttons {
    justify-content: center;
    gap: 48px;
  }
  .shopping .shop__forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 62px;
  }
  .registration {
    gap: 22px;
  }
  .registration__left {
    margin-right: 0;
    padding-left: 16px;
  }
  .registration__right {
    margin-left: 0;
  }
  .registration__right__title {
    font-size: 16px;
  }
  .registration__right__heading {
    font-size: 16px;
  }
  .registration__right__list-item {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 195px);
    padding-right: calc(50% - 195px);
  }
  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .promo__img {
    display: none;
  }
  .promo__info {
    margin-bottom: 55%;
    margin-top: 55%;
  }
  .promo__heading {
    font-size: 20px;
    line-height: 18px;
  }
  .promo__title {
    font-size: 38px;
    line-height: 53px;
  }
  .sale {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 64px;
    margin-top: 64px;
  }
  .sale__heading {
    font-size: 16px;
    line-height: 19px;
  }
  .sale .big-img {
    height: 15vh;
  }
  .product-box {
    padding: 8px;
  }
  .product-box__content {
    padding: 8px;
    justify-content: center;
  }
  .advantages__item {
    width: 290px;
  }
  .top__header {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding-bottom: 42px;
    padding-top: 24;
  }
  .top__header .breadcrumb {
    padding-right: 0;
  }
  .filter {
    padding-top: 24px;
  }
  .filter__left {
    width: 60px;
    padding-left: 8px;
  }
  .filter__left svg {
    width: 20px;
    height: 20px;
  }
  .filter__title {
    display: none;
  }
  .filter__details {
    padding: 8px;
    width: 290px;
    z-index: 1;
  }
  .filter__right {
    left: 0;
    padding-right: 8px;
  }
  .sort {
    gap: 22px;
    margin-bottom: 42px;
    padding-top: 8px;
  }
  .sort__summary {
    gap: 8px;
  }
  .sort__details {
    z-index: 1;
  }
  .slider__arrow {
    top: 120px;
  }
  .slider__img {
    width: 75%;
  }
  .content {
    margin: 0;
    padding-left: calc(50% - 195px);
    padding-right: calc(50% - 195px);
  }
  .content__text {
    width: 95vw;
  }
  .content__line-big {
    width: 175px;
  }
  .shopping {
    margin-bottom: 96px;
  }
  .shopping .shop__cart {
    margin-top: 39px;
  }
  .shopping .shop__cart-buttons {
    gap: 9px;
  }
  .shopping .shop__cart-buttons-btn {
    padding: 9px 18px;
    font-size: 12px;
  }
  .shopping .shop__cart-buttons-link {
    padding: 9px 18px;
    font-size: 12px;
  }
  .shopping .shop__cart .cart__card {
    margin-bottom: 32px;
  }
  .shopping .shop__cart .cart__card .card__img {
    width: 143.859px;
    height: 188px;
  }
  .shopping .shop__cart .cart__card__icon {
    right: 12px;
    width: 14px;
    height: 14px;
  }
  .shopping .shop__cart .cart__card-text {
    width: 214.141px;
    height: 188px;
    padding: 13px 53px 17px 38px;
  }
  .shopping .shop__cart .cart__card-text span {
    margin: 0 0 4px 0;
    font-size: 14px;
    line-height: 16px;
    color: #575757;
  }
  .shopping .shop__cart .cart__card-text .text__decor {
    color: #F16D7F;
  }
  .shopping .shop__cart .cart__card-text .quantity__input {
    width: 24px;
    height: 15px;
    margin-left: 15px;
  }
  .shopping .shop__cart .cart__card__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }
  .shopping .shop__forms {
    margin-top: 48px;
    flex-direction: column;
  }
  .shopping .shop__forms .shipping__form input {
    width: 290px;
    font-size: 14px;
  }
  .shopping .check__form {
    padding: 39px 34px 42px 43px;
  }
  .registration {
    flex-direction: column;
  }
  .registration__left {
    padding-left: 8px;
    padding-right: 8px;
  }
  .registration__right {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 360px) {
  .product-box__content {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
  .product-box .product__item {
    width: 290px;
  }
  .product-box .img__product {
    width: 290px;
  }
  .sort {
    width: 290px;
  }
  .sort__summary {
    gap: 6px;
  }
  .shopping .shop__cart {
    padding: 8px;
  }
  .shopping .shop__cart-buttons {
    gap: 9px;
  }
  .shopping .shop__cart-buttons-btn {
    padding: 6px 12px;
    font-size: 12px;
  }
  .shopping .shop__cart-buttons-link {
    padding: 6px 12px;
    font-size: 12px;
    text-align: center;
  }
  .shopping .shop__cart .cart__card .card__img {
    width: 140px;
    height: 188px;
  }
  .shopping .shop__cart .cart__card__icon {
    right: 10px;
    width: 12px;
    height: 10px;
  }
  .shopping .shop__cart .cart__card-text {
    width: 150px;
    height: 188px;
    padding: 13px 43px 17px 28px;
  }
  .shopping .shop__cart .cart__card-text span {
    margin: 0 0 4px 0;
    font-size: 12px;
    line-height: 14px;
    color: #575757;
  }
  .shopping .shop__cart .cart__card-text .text__decor {
    color: #F16D7F;
  }
  .shopping .shop__cart .cart__card-text .quantity__input {
    width: 20px;
    height: 12px;
    margin-left: 12px;
  }
  .shopping .shop__cart .cart__card__title {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .shopping .shop__forms {
    padding: 8px;
    flex-direction: column;
  }
  .shopping .shop__forms .shipping__form input {
    width: 280px;
    font-size: 12px;
  }
  .shopping .check__form {
    width: 290px;
    padding: 39px 34px 42px 43px;
  }
  .shopping .check__form button {
    width: 230px;
  }
}/*# sourceMappingURL=style.css.map */